/* hero 
================================================================ */

.hero_card-wrapper {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(140 133 158 / 68%) 50%, rgb(0, 0, 0) 100%);
  border: 2px rgb(59 59 115) solid;
  border-radius: 10px;
}

.hero_content-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 500px;
}

.hero_content-wrapper {
  background: rgba(0, 0, 0, 0.742);
  border-radius: 10px;
}

.hero h1 {
  font-size: 50px;
  font-weight: 300;
}

.hero a {
  background-color: rgb(201, 201, 201);
  color: var(--color-text-secondary);
  padding: 10px 30px;
  border-radius: 15px;
  box-shadow: #2c2c36 3px 3px;
  transition: all 0.5s ease;
  font-weight: 600;
}
.hero a:hover {
  transform: scale(1.1);
}

.hero a:active {
  transform: scale(1);
}

.profile-img-wrapper {
  max-height: 250px;
  width: auto;
  border-radius: 50%;
  border: 2px rgb(57, 50, 129) solid;
  overflow: hidden;
  aspect-ratio: 1;
  margin-inline: 20px;
}

.profile-img-wrapper > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
}

.hero_content-wrapper p {
  text-wrap: balance;
  text-align: center;
}

/* projects
================================================================ */

.projects {
  flex-direction: column;
}

.project_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
}

.project_card {
  background: #3a3c3c;
  border-radius: 15px;
  border: solid 2px rgb(59 59 115);
}

.project_card > img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  border-bottom: solid 2px rgb(59 59 115);
}

.project_card > p {
  text-wrap: balance;
  padding: 20px;
  text-align: center;
}

.card_used-lang {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  background: var(--color-primary);
}

.card_used-lang > img {
  height: 40px;
  width: auto;
  margin-block: 5px;
}

.project_card :nth-child(5) {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  padding: 15px;
}

.project_card a {
  text-decoration: underline;
}

/* contact 
=============================================== */

.contact_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact_wrapper p {
  text-align: center;
  text-wrap: balance;
}

.social {
  display: flex;
  gap: 20px;
}

.social img {
  height: 50px;
  width: auto;
  aspect-ratio: 1;
  transition: all 0.5s ease;
}

.social img:hover {
  transform: scale(1.1);
}

.social img:active {
  transform: scale(1);
}

a:hover {
  transform: scale(1.1);
}
